body {
  font-family: Arial, sans-serif;
  background-color: #79a5b0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgb(222, 161, 161);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #c347d0;
}

input[type="text"], input[type="password"], select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #e3c0c0;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="password"]:focus, select:focus {
  border-color: #82baf6;
  outline: none;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #217ada;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button[type="submit"]:disabled {
  background-color: #4d0c0c;
  cursor: not-allowed;
}

button[type="submit"]:not(:disabled):hover {
  background-color: #2a73c1;
}

button[type="button"] {
  padding: 5px 10px;
  margin-left: 10px;
  background-color: #6c757d;
  color: rgb(236, 117, 222);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

button[type="button"]:hover {
  background-color: #5a6268;
}

span {
  color: rgb(131, 31, 31);
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

.success-container {
  text-align: center;
}

.success-container h1 {
  color: #b235b8;
}

.success-container div {
  margin-bottom: 15px;
}

.success-container p {
  font-size: 16px;
  margin: 5px 0;
}
